
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap');
/*  Font Family Variables */
$primary-font: 'Source Sans 3', sans-serif;
$secondary-font:'Poppins', sans-serif;
$space-grotesk:'Space Grotesk', sans-serif;

/*  Font Weight Variables */
$w-light:300;
$w-regular:400;
$w-medium :500;
$w-semibold :600;
$w-bold :700;
$w-extrabold :800;
$w-black :900;

/*  Font Size Variables */
$f-xxs:10px;
$f-xs:12px;
$f-s:14px;
$f-r:16px;
$f-m:18px;
$f-l:20px;
$f-xl:22px;
$f-xxl:24px;
$f-xxx:26px;
$f-xxxx:28px;


/*  Line Height Variables */
$l-height24:140%;
$l-height20:120%;
$l-height18:134%;
$l-height14:129%;


/*  Color Variables */
$white:#FFFFFF;
$black:#000;
$black-light:#1A1A1A;
$red:#ff0000;
$red-dark:#FF1D48;
$purple:#9B32E0;
$dark-gray:#F3F3F3;
$light-grap:#959595;
$light-yellow:#FFEC8B;
$skyblue:#6F9DF1;
$lightwhite:#e6e6e6;
$grey:#616161;
$lightblack:#212529;
$yellow:#E1B400;
$pink:#F26B3D14;
$dark-pink:#F26B3D29;
$blue:#C8E5FE;
$light-white:#D4D4D4;
$dark-green:#CDFFCB;
$dark-blue:#0094EF;
$lightgray:#EDF2F2;
$lightpink:#F6DFDF;
$naviblue:#0040811A;
$gary01:#0000001F;
$graybox:#43576314;
$light-blue:#BEE6FF;
$gray85:#00D9B9;
$mercury:#E9E9E9;
$halfwhite: #F2F2F2;
